*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fdfdfd;
}

main {
    height: 100vh;
    background-image: url(img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 600px;
    box-shadow: 0 23px 57px rgba(0, 0, 0, 0.4);
}

.tabs{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #2b3040;
    color:#b7bacd;
    text-transform: uppercase;
    margin: 0 auto;
}

.tab-link{
    cursor: pointer;
    padding: 0 20px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    fill: #b7bacd;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.tab-link__icon {
    height: 24px;
    width: 24px;
    margin-bottom: 12px;
}

.tabs .current{
    color: #fbfbfb;
    border-bottom: 2px solid#fbfbfb;
    fill: #fbfbfb;
}

.tab-content{
    display: none;
    height: 426px;
    background-color: #212534;
}

.tab-content.current{
    display: inherit;
}

.card {
    padding: 60px 40px;
    display: flex;
}

.card__img {
    margin-bottom: 25px;
}

.rating {
    display: flex;
    justify-content: space-around;
}

.rating__icon {
    height: 20px;
    width: 20px;
}

.star-yellow {
    fill: #ffdd3f;
}

.star-gray {
    fill: #4b536b;
}

.card__body {
    position: relative;
    padding: 0 0 0 40px;
}



.content-coming {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.card__title {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 10px;
}

.card__subtitle {
    font-size: 14px;
    margin-bottom: 42px;
}

.card__rating {
    color: #aaadbb;
    font-size: 20px;
    position: relative;
    float: right;
    margin-top: 20px;
    padding-right: 20px;
}

.card__rating::after {
    content: url(img/circle.png);
    position: absolute;
    left: -20px;
    top: -24px;
}

.card__text {
    color: #b7bacd;
    margin-bottom: 60px;
    line-height: 22px;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__label {
    color: #fedc3f;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card__price {
    color: #ffffff;
    font-size: 32px;
}

.buy-btn {
    background-color: #13e28d;
    border: none;
    border-radius: 2px;
    width: 164px;
    height: 55px;
    color: #ffffff;
    font-size: 16px;

}

.buy-btn:hover {
    background-color: #13e28cc7;
    cursor: pointer;
}

.buy-btn:focus {
    outline: none;
}
